@font-face {
  font-family: "iconfont";
  src: 
    url('../fonts/iconfont.woff2?t=1744986349040') format('woff2'),
    url('../fonts/iconfont.woff?t=1744986349040') format('woff'),
    url('../fonts/iconfont.ttf?t=1744986349040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e65c";
}

.icon-weixin:before {
  content: "\e64b";
}

.icon-youxiang:before {
  content: "\e63e";
}

.icon-weixin1:before {
  content: "\e770";
}

.icon-delete01:before {
  content: "\e620";
}

.icon-collect:before {
  content: "\e626";
}

.icon-clock:before {
  content: "\e652";
}

.icon-folderclose1:before {
  content: "\e65b";
}

.icon-film:before {
  content: "\e695";
}

.icon-picture:before {
  content: "\e69c";
}

.icon-music:before {
  content: "\e700";
}

.icon-shanchu:before {
  content: "\e77b";
}

.icon-bianji1:before {
  content: "\e77c";
}

.icon-kejian:before {
  content: "\e77d";
}

.icon-bukejian:before {
  content: "\e77e";
}

.icon-sousuo:before {
  content: "\e782";
}

.icon-shangchuan:before {
  content: "\e785";
}

.icon-xiazai:before {
  content: "\e786";
}

.icon-saoyisao:before {
  content: "\e787";
}

.icon-dianzan:before {
  content: "\e789";
}

.icon-shuaxin:before {
  content: "\e78c";
}

.icon-quanping:before {
  content: "\e78e";
}

.icon-shouqi:before {
  content: "\e78f";
}

.icon-xiaoxi:before {
  content: "\e790";
}

.icon-xinxi:before {
  content: "\e792";
}

.icon-xihuan:before {
  content: "\e794";
}

.icon-jiesuo:before {
  content: "\e796";
}

.icon-suoding:before {
  content: "\e797";
}

.icon-fenlei:before {
  content: "\e79b";
}

.icon-liebiao:before {
  content: "\e79d";
}

.icon-gengduoshu:before {
  content: "\e79f";
}

.icon-tuichu:before {
  content: "\e7a0";
}

.icon-fenxiang1:before {
  content: "\e7a1";
}

.icon-shoucang:before {
  content: "\e7ab";
}

.icon-zengjia:before {
  content: "\e7ad";
}

.icon-tishi:before {
  content: "\e7b3";
}

.icon-zhanghao:before {
  content: "\e7b4";
}

.icon-yiwen:before {
  content: "\e7b5";
}

.icon-yonghu:before {
  content: "\e7c0";
}

.icon-yuyin:before {
  content: "\e7c2";
}

.icon-erweima:before {
  content: "\e800";
}

.icon-gouwuche:before {
  content: "\e820";
}

.icon-pinglun1:before {
  content: "\e823";
}

.icon-gerenxinxi:before {
  content: "\e62e";
}

.icon-tuichu1:before {
  content: "\e62f";
}

.icon-yonghu1:before {
  content: "\e630";
}

.icon-zhuye:before {
  content: "\e631";
}

.icon-zhifuzhongxin:before {
  content: "\e632";
}

.icon-Home-Wifi:before {
  content: "\ecc8";
}

.icon-HOMEMESSAGE:before {
  content: "\e7eb";
}

.icon-shezhi:before {
  content: "\e637";
}

.icon-bianji:before {
  content: "\e6f5";
}

.icon-dingdan:before {
  content: "\e6f6";
}

.icon-biaoqian:before {
  content: "\e6f7";
}

.icon-dingwei:before {
  content: "\e6f8";
}

.icon-fenxiang:before {
  content: "\e6f9";
}

.icon-faxian:before {
  content: "\e6fa";
}

.icon-gengduo:before {
  content: "\e6fb";
}

.icon-huodong:before {
  content: "\e6fc";
}

.icon-haoyourenzheng:before {
  content: "\e6fd";
}

.icon-lishijilu:before {
  content: "\e6fe";
}

.icon-pinglun:before {
  content: "\e6ff";
}

.icon-a-weixin_huaban1:before {
  content: "\e63c";
}

